/* 
File: acks.css
Description: CSS for Roll20 ACKS character sheet
Author: Don Davis
*/

/**************** Custom Global Styles ****************/
.ui-dialog .charsheet * {
  color: sienna;
  font-family: 'Papyrus', sans-serif;
  font-weight: bold;
}
.ui-dialog .charsheet {
  background-color: floralwhite;
  background-image: url(https://files.d20.io/images/450487066/uiAszlE0bRlWroPkO-cpQA/original.webp?1753713715);
}

.ui-dialog .charsheet button.btn {
  background-image: linear-gradient(white, navajowhite);
  border-color: sienna;
  color: sienna;
  font-size: 0.9em;
  padding: 0px 5px;
}
.ui-dialog .charsheet button.btn::before {
  content: '';
}
.ui-dialog .charsheet button.btn:hover {
  background-color: navajowhite;
}

.ui-dialog .charsheet hr {
  border-top: 1px solid burlywood;
  margin: 20px 0px 15px 0px;
}
.ui-dialog .charsheet hr.span-grid {
  grid-column: first / last;
  justify-self: start;
  width: 99%;
}

.ui-dialog .charsheet input {
  background-color: ghostwhite;
  border: thin solid burlywood;
  padding: 2px 0px 0px 5px;
}
.ui-dialog .charsheet input:read-only {
  background: transparent;
}
.ui-dialog .charsheet input[type=checkbox] {
  accent-color: sienna;
}
.ui-dialog .charsheet input[type=number] {
  text-align: center;
  width: 50px;
}
.ui-dialog .charsheet input[type=text] {
  width: 150px;
}
.ui-dialog .charsheet input.toggle-show:not(:checked) ~ div.details {
  display: none;
}
.ui-dialog .charsheet input.currency {
  width: 75px;
}
.ui-dialog .charsheet input.max-width {
  width: 100%;
}

.ui-dialog .charsheet  label {
  display: inline-block;
  font-size: 1.0em;
  margin: 0px;
  padding: 5px 0px 0px 0px;
  white-space: nowrap;
  width: auto;
}
.ui-dialog .charsheet label.span-header {
  grid-column: first / last;
  font-size: 1.5em;
  justify-self: start;
  margin-bottom: 10px;
  width: 100%;
}

.ui-dialog .charsheet select {
  background-color: ghostwhite;
  border: thin solid burlywood;
  height: 22px;
  padding: 0px;
  margin: 0px;
  width: 150px;
}

.ui-dialog .charsheet textarea {
  border: thin solid burlywood;
  padding: 3px;
  margin: 0px;
  width: 99%;
}

.ui-dialog .charsheet .repcontainer {
  margin-bottom: 5px;
}
.ui-dialog .charsheet .repcontainer > .repitem button,
.ui-dialog .charsheet .repcontainer > .repitem input,
.ui-dialog .charsheet .repcontainer > .repitem textarea {
  margin: 2.5px;
}

.ui-dialog .charsheet input::placeholder,
.ui-dialog .charsheet textarea::placeholder {
    color: silver;
}

/**************** PAGE HEADER ****************/
.ui-dialog .charsheet div.button-panel {
  padding-bottom: 20px;
}

.ui-dialog .charsheet div.page-title {
  margin-bottom: 10px;
}

.ui-dialog .charsheet div.whisper-toggle {
  display: inline-block;
  margin-left: 10px;
  width: auto;
}

/**************** TAB CONTROLS ****************/
.ui-dialog .charsheet .overview,
.ui-dialog .charsheet .class,
.ui-dialog .charsheet .studious,
.ui-dialog .charsheet .prayerful,
.ui-dialog .charsheet .skills,
.ui-dialog .charsheet .combat,
.ui-dialog .charsheet .equipment,
.ui-dialog .charsheet .wealth,
.ui-dialog .charsheet .hirelings,
.ui-dialog .charsheet .journal,
.ui-dialog .charsheet .settings {
  display: none;
}
.ui-dialog .charsheet .tabstoggle[value='overview'] ~ section.overview,
.ui-dialog .charsheet .tabstoggle[value='class'] ~ section.class,
.ui-dialog .charsheet .tabstoggle[value='studious'] ~ section.studious,
.ui-dialog .charsheet .tabstoggle[value='prayerful'] ~ section.prayerful,
.ui-dialog .charsheet .tabstoggle[value='skills'] ~ section.skills,
.ui-dialog .charsheet .tabstoggle[value='combat'] ~ section.combat,
.ui-dialog .charsheet .tabstoggle[value='equipment'] ~ section.equipment,
.ui-dialog .charsheet .tabstoggle[value='wealth'] ~ section.wealth,
.ui-dialog .charsheet .tabstoggle[value='hirelings'] ~ section.hirelings,
.ui-dialog .charsheet .tabstoggle[value='settings'] ~ section.settings,
.ui-dialog .charsheet .tabstoggle[value='journal'] ~ section.journal {
  display: block;
}
.ui-dialog .charsheet .btnOverview,
.ui-dialog .charsheet .btnClass,
.ui-dialog .charsheet .btnStudious,
.ui-dialog .charsheet .btnPrayerful,
.ui-dialog .charsheet .btnSkills,
.ui-dialog .charsheet .btnCombat,
.ui-dialog .charsheet .btnEquipment,
.ui-dialog .charsheet .btnWealth,
.ui-dialog .charsheet .btnHirelings,
.ui-dialog .charsheet .btnJournal,
.ui-dialog .charsheet .btnSettings {
  align-self: center;
  background-color: navajowhite;
  background-image: none;
  border-color: black;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: sienna;
  cursor: pointer;
  display: inline-block;
  line-height: 23px;
  outline: none;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}  
.ui-dialog .charsheet .btnOverview:hover,
.ui-dialog .charsheet .btnClass:hover,
.ui-dialog .charsheet .btnStudious:hover,
.ui-dialog .charsheet .btnPrayerful:hover,
.ui-dialog .charsheet .btnSkills:hover,
.ui-dialog .charsheet .btnCombat:hover,
.ui-dialog .charsheet .btnEquipment:hover,
.ui-dialog .charsheet .btnWealth:hover,
.ui-dialog .charsheet .btnHirelings:hover,
.ui-dialog .charsheet .btnJournal:hover,
.ui-dialog .charsheet .btnSettings:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}
.ui-dialog .charsheet .btnOverview:focus,
.ui-dialog .charsheet .btnClass:focus,
.ui-dialog .charsheet .btnStudious:focus,
.ui-dialog .charsheet .btnPrayerful:focus,
.ui-dialog .charsheet .btnSkills:focus,
.ui-dialog .charsheet .btnCombat:focus,
.ui-dialog .charsheet .btnEquipment:focus,
.ui-dialog .charsheet .btnWealth:focus,
.ui-dialog .charsheet .btnHirelings:focus,
.ui-dialog .charsheet .btnJournal:focus,
.ui-dialog .charsheet .btnSettings:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
.ui-dialog .charsheet .buttonstoggle[value='overview'] ~ button.btnOverview,
.ui-dialog .charsheet .buttonstoggle[value='class'] ~ button.btnClass,
.ui-dialog .charsheet .buttonstoggle[value='studious'] ~ button.btnStudious,
.ui-dialog .charsheet .buttonstoggle[value='prayerful'] ~ button.btnPrayerful,
.ui-dialog .charsheet .buttonstoggle[value='skills'] ~ button.btnSkills,
.ui-dialog .charsheet .buttonstoggle[value='combat'] ~ button.btnCombat,
.ui-dialog .charsheet .buttonstoggle[value='equipment'] ~ button.btnEquipment,
.ui-dialog .charsheet .buttonstoggle[value='wealth'] ~ button.btnWealth,
.ui-dialog .charsheet .buttonstoggle[value='hirelings'] ~ button.btnHirelings,
.ui-dialog .charsheet .buttonstoggle[value='journal'] ~ button.btnJournal,
.ui-dialog .charsheet .buttonstoggle[value='settings'] ~ button.btnSettings {
  background-color: ghostwhite;
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  font-weight: bold;
  transform: translate3d(0, 2px, 0);
}

.ui-dialog .charsheet input.hideStudious[value='1'] ~ button.btnStudious {
  display: none;
}
.ui-dialog .charsheet input.hidePrayerful[value='1'] ~ button.btnPrayerful {
  display: none;
}
.ui-dialog .charsheet input.hideCode[value='1'] ~ div.code {
  display: none;
}

/**************** OVERVIEW TAB ****************/
.ui-dialog .charsheet div.grid-overview {
  display: grid;
  grid-template-columns: [first] repeat(2, 1fr) [last];
}

.ui-dialog .charsheet div.grid-attributes {
  column-gap: 10px;
  display: grid;
  grid-template-columns: [first] repeat(5, 1fr) [last];
  justify-items: center;
  row-gap: 5px;
}
.ui-dialog .charsheet div.grid-attributes label.attr-name {
  justify-self: left;
}

.ui-dialog .charsheet div.grid-monster {
  column-gap: 10px;
  display: grid;
  grid-template-columns: [first] repeat(4, 1fr) [last];
  row-gap: 5px;
}
.ui-dialog .charsheet div.grid-monster input[type=text],
.ui-dialog .charsheet div.grid-monster select {
  width: 75px;
}
.ui-dialog .charsheet div.grid-monster input.tt {
  width: 50px;
}

.ui-dialog .charsheet div.grid-info {
  column-gap: 10px;
  display: grid;
  grid-template-columns: [first] repeat(2, 1fr) [last];
  justify-items: left;
  row-gap: 5px;
}
.ui-dialog .charsheet div.grid-info input.xp {
  text-align: center;
  width: 68px;
}

.ui-dialog .charsheet div.grid-saves {  
  column-gap: 10px;  
  display: grid;
  grid-template-columns: [first] repeat(4, 1fr) [last];
  justify-items: center;
  row-gap: 5px;
}
.ui-dialog .charsheet div.grid-saves button {
  padding: 0px 10px;
  width: 50px;
}
.ui-dialog .charsheet div.grid-saves input.profile {
  width: 55px;
}

.ui-dialog .charsheet div.grid-summary {
  column-gap: 10px;
  display: grid;
  grid-template-columns: [first] repeat(4, 1fr) [last];
  row-gap: 5px;
}
.ui-dialog .charsheet div.grid-summary input.hd {
  width: 68px;
}

/**************** CLASS TAB ****************/
.ui-dialog .charsheet div.grid-class-bonuses {
  column-gap: 10px;
  display: grid;
  grid-template-columns: [first] repeat(8, 1fr) [last];
  justify-items: start;
  padding-bottom: 3px;
  row-gap: 5px;
}
.ui-dialog .charsheet div.full-line {
  padding-bottom: 3px;
  width: 100%;
}

/**************** STUDIOUS/PRAYERFUL TABS ****************/
.ui-dialog .charsheet div.grid-spellslots {
  column-gap: 5px;
  display: grid;
  grid-template-columns: [first] repeat(11, 1fr) [last];
  justify-items: center;
  row-gap: 5px;
  width: 100%;
}

/**************** COMBAT TAB ****************/
.ui-dialog .charsheet div.grid-combat {
  display: grid;
  column-gap: 10px;
  grid-template-columns: [first] repeat(6, 1fr) [last];
  justify-items: center;
}

.ui-dialog .charsheet div.grid-encounter-buttons {
  display: grid;
  column-gap: 10px;
  grid-template-columns: [first] repeat(4, 1fr) [last];
  justify-items: center;
  row-gap: 5px;
}

.ui-dialog .charsheet .repcontainer > .repitem input.damage {
  padding: 1px 0px;
  text-align: center;
  width: 50px;
}

.ui-dialog .charsheet .repcontainer > .repitem input.range {
  width: 100px;
}

.ui-dialog .charsheet .repcontainer > .repitem span {
  margin-right: 5px;
}

/**************** SKILLS TAB ****************/

/**************** EQUIPMENT TAB ****************/
.ui-dialog .charsheet div.grid-encumbrance {
  display: grid;
  column-gap: 10px;
  grid-template-columns: [first] repeat(8, 1fr) [last];
  justify-items: center;
}

/**************** WEALTH TAB ****************/
.ui-dialog .charsheet div.grid-budget {
  display: grid;
  column-gap: 10px;
  grid-template-columns: [first] repeat(2, 1fr) [last];
  row-gap: 5px;
}

.ui-dialog .charsheet div.grid-currency {
  display: grid;
  column-gap: 10px;
  grid-template-columns: [first] repeat(4, 1fr) [last];
  justify-items: center;
  row-gap: 5px;
}

.ui-dialog .charsheet div.grid-wealth {
  display: grid;
  grid-template-columns: [first] repeat(2, 1fr) [last];
}

.ui-dialog .charsheet select.investment {
  width: 200px;
}

/**************** HIRELINGS TAB ****************/
.ui-dialog .charsheet .grid-hirelings {
  display: grid;
  column-gap: 10px;
  grid-template-columns: [first] repeat(4, 1fr) [last];
  justify-items: center;
}

.ui-dialog .charsheet button.btn-hirelings::before {
  font-family: 'dicefontd20';
  font-size: 1.2em;
  content: '0';
  vertical-align: middle;
}

.ui-dialog .charsheet input.text-hirelings {
  width: 200px;
}

/**************** JOURNAL TAB ****************/
.ui-dialog .charsheet .grid-journal {
    display: grid;
    column-gap: 10px;
    grid-template-columns: [first] repeat(4, 1fr) [last];
    justify-items: center;
}

.ui-dialog .charsheet input.xp-notes {
  width: 350px;
}

/**************** SETTINGS TAB ****************/
.ui-dialog .charsheet .grid-settings {
  display: grid;
  column-gap: 10px;
  justify-items: center;
  grid-template-columns: [first] 20% [second] 10% [third] auto [last];
  row-gap: 5px;
}
.ui-dialog .charsheet .grid-settings label {
    justify-self: end;
}
.ui-dialog .charsheet .grid-settings select {
    width: 50px;
}
.ui-dialog .charsheet .grid-settings span {
    justify-self: start;
}

/**************** ALERTS ****************/
.ui-dialog .charsheet input.alert-hd[value='1'] ~ .hd,
.ui-dialog .charsheet input.alert-henchmen[value='1'] ~ .henchmen,
.ui-dialog .charsheet input.alert-hp[value='1'] ~ .hp,
.ui-dialog .charsheet input.alert-move[value='1'] ~ .move {
  background-color: lightpink; 
  border-color: red;
  color: red;
  font-weight: bold;
}

.ui-dialog .charsheet input.alert-bedrest[value='1'] ~ .bedrest,
.ui-dialog .charsheet input.alert-encumbrance[value='1'] ~ .encumbrance,
.ui-dialog .charsheet input.alert-fatigued[value='1'] ~ .fatigue {
  background-color: gold; 
  border-color: coral;
  color: coral;
  font-weight: bold;
}

/**************** ROLL TEMPLATES****************/
.sheet-rolltemplate-custom,
.sheet-rolltemplate-menu {
  margin-left: -37px;
}
.withoutavatars .sheet-rolltemplate-custom,
.withoutavatars .sheet-rolltemplate-menu {
  margin-left: -7px;
}

.sheet-rolltemplate-custom .sheet-container,
.sheet-rolltemplate-menu .sheet-container {
  border: 1px solid;
  /* by default, the border is the same color as the header. You can change this here, e.g. to black */
  border-color: var(--header-bg-color);
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-custom .sheet-header,
.sheet-rolltemplate-menu .sheet-header {
  background-image: var(--header-bg-image);
  background-color: var(--header-bg-color);
  /* change text-align to center to center the header text */
  text-align: left;
  color: var(--header-text-color);
  padding: 5px;
}
.sheet-rolltemplate-custom .sheet-title,
.sheet-rolltemplate-menu .sheet-title {
  font-size:1.1em;
  text-align: center;
}
.sheet-rolltemplate-custom .sheet-subtitle,
.sheet-rolltemplate-menu .sheet-subtitle {
  font-size:.9em;
  text-align: center;
}

/* example colors */
.sheet-rolltemplate-custom .sheet-container,
.sheet-rolltemplate-menu .sheet-container {
  /* this is the default color */
  --header-bg-color:dimgray;
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-black,
.sheet-rolltemplate-menu .sheet-container.sheet-color-black {
  --header-bg-color: black;
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-brown,
.sheet-rolltemplate-menu .sheet-container.sheet-color-brown {
  --header-bg-color: sienna;
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-blue,
.sheet-rolltemplate-menu .sheet-container.sheet-color-blue {
  --header-bg-color: darkslateblue;
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-gold,
.sheet-rolltemplate-menu .sheet-container.sheet-color-gold {
  --header-bg-color: gold;
  --header-text-color: #000;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-green,
.sheet-rolltemplate-menu .sheet-container.sheet-color-green {
  --header-bg-color: darkolivegreen;
  --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-orange,
.sheet-rolltemplate-menu .sheet-container.sheet-color-orange {
  --header-bg-color: darkorange;
  --header-text-color: #000;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-red,
.sheet-rolltemplate-menu .sheet-container.sheet-color-red {
  --header-bg-color: maroon;
  --header-text-color: #FFF;
}

/* Success/Failure colors*/
.sheet-rolltemplate-custom .sheet-success {
  color: green;
  font-weight: bold;
}
.sheet-rolltemplate-custom .sheet-failure {
  color: red;
  font-weight: bold;
}
  
/* Allprops part */
.sheet-rolltemplate-custom .sheet-content,
.sheet-rolltemplate-menu .sheet-content {
  display: grid;
  background: #FFF;
  /* Header formatting - modify the column layout below */
  grid-template-columns: auto auto;
  /* Line height to match default roll template */
  line-height:1.4em;
}
.sheet-rolltemplate-custom .sheet-content > div,
.sheet-rolltemplate-menu .sheet-content > div {
  padding: 5px;
}
  
/* Left column */
.sheet-rolltemplate-custom .sheet-content .sheet-key,
.sheet-rolltemplate-menu .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}
  
/* Empty rule, use this if you want to change the right column 
.sheet-rolltemplate-custom .sheet-value {
}
*/
  
/* Make even-numbered rows grey */
.sheet-rolltemplate-custom .sheet-content div:nth-child(4n+3),
.sheet-rolltemplate-custom .sheet-content div:nth-child(4n) {
  background:#EEE;
}
  
/* Description field */
.sheet-rolltemplate-custom .sheet-desc,
.sheet-rolltemplate-menu .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

/* Chat menu styles */
.sheet-rolltemplate-custom a[href^='!'],.sheet-rolltemplate-custom a[href^='~'],
.sheet-rolltemplate-menu a[href^='!'],.sheet-rolltemplate-menu a[href^='~'] {
  background-color:transparent;
  border:0;
  color:#3f8aa6;
  display:inline;
  font-style: italic;
  font-weight: bold;
  padding: 0
}

.sheet-rolltemplate-custom .sheet-desc {
  text-align: left;
}